@model CheeseMVC.ViewModels.ViewMenuViewModel

<h1>@ViewBag.Title</h1>

@foreach (var item in Model.Items)
{
    <ul>
        @item.Cheese.Name
    </ul>
}
@if (Model.Items.Count == 0)
{
    <p><i>No menu items</i></p>
}

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>
